<article class="pelicula">
  <div class="pelicula__cartel">
    <img class="pelicula__imagen" [src]="pelicula().imagen_url" [alt]="pelicula().nombre" />
    <span class="pelicula__restriccion chip" [class.chip--rojo]="pelicula().restriccion_edad > 0">
      {{ pelicula().restriccion_edad | restriccionEdad }}
    </span>
    @if (enPreventa()) {
      <span class="pelicula__preventa chip chip--preventa">Preventa</span>
    }
  </div>

  <div class="pelicula__info">
    <h3 class="pelicula__nombre">{{ pelicula().nombre }}</h3>
    <p class="pelicula__meta texto-ticket">{{ pelicula().duracion_minutos | duracion }}</p>
  </div>

  <div class="pelicula__acciones">
    @if (esAdmin()) {
      <button type="button" (click)="onClickModificar()">Modificar</button>
    } @else {
      <a class="btn btn--secundario" [routerLink]="['/peliculas', pelicula().id]">Ver funciones</a>
    }
  </div>
</article>
