<main class="container">

    <!-- section buscar -->
    <form class="ui-search-filter" (submit)="$event.preventDefault()">
        <div class="ui-search-filter__search-container">
            <h4 class="ui-search-filter__search-container--title" for="buscar">BUSCAR</h4>
            <input class="ui-search-filter__search-container--input" type="text" [formField]="filtrosForm.nombre"
                placeholder="nombre">
        </div>
        <div class="ui-search-filter__order">
            <h4 class="ui-search-filter__order--title" for="orden">IDIOMA</h4>
            <select class="ui-search-filter__order--select" [formField]="filtrosForm.idioma">
                <!-- <option class="ui-search-filter__order--select__max-to-min" value="Mayor-a-menor">Sin filtro</option> -->
               <option value="" disabled selected hidden>Seleccioná...</option>
                <option class="ui-search-filter__order--select__max-to-min" value="castellano">Castellano</option>
                <option class="ui-search-filter__order--select__min-to-max" value="subtitulada">Subtitulada</option>
            </select>
        </div>
        <div class="ui-search-filter__order">
            <h4 class="ui-search-filter__order--title" for="orden">GENERO</h4>
            <select class="ui-search-filter__order--select" [formField]="filtrosForm.genero">
                <option value="" disabled selected hidden>Seleccioná...</option>
                <!-- <option class="ui-search-filter__order--select__max-to-min" [value]="">Sin filtro</option> -->
                        @for (g of generos(); track g) {
                <option class="ui-search-filter__order--select__min-to-max" [value]="g.nombre">{{ g.nombre }}</option>
                        }
            </select>
        </div>
                <div class="ui-search-filter__order">
            <h4 class="ui-search-filter__order--title" for="orden">Tipo de sala</h4>
            <select class="ui-search-filter__order--select" [formField]="filtrosForm.tipoSala">
                <option value="" disabled selected hidden>Seleccioná...</option>
                <!-- <option class="ui-search-filter__order--select__max-to-min" [value]="">Sin filtro</option> -->
                @for (t of tiposSala; track t) {
                <option class="ui-search-filter__order--select__min-to-max" [value]="t">{{ t }}</option>
                }
            </select>
        </div>

        
        <div class="ui-search-filter__filter-container">
            <h4 class="ui-search-filter__filter-container--title">FILTRAR</h4>
            <div>
                <input class="ui-search-filter__filter-container--checkbox" type="checkbox" [formField]="filtrosForm.destacada">
                <label class="ui-search-filter__filter-container--label" for="destacada">DESTACADA</label>
            </div>
        </div>

      <button type="button" class="filtros__limpiar" (click)="limpiarFiltros()">Limpiar</button>
    
    </form>

    <section class="search-results listado-peliculas__grid">
        @if (cargando()) {
        <p>Cargando películas...</p>
        }
        @if (errorMsg()) {
        <p class="error">{{ errorMsg() }}</p>
        }

        @if (!cargando() && peliculas().length === 0) {
        <p>No hay películas disponibles.</p>
        }
        <section class="search-results__container">
            @for (pelicula of peliculasFiltradas(); track pelicula.id) {
            <app-item-pelicula [pelicula]="pelicula" [esAdmin]="esAdmin()" />
            }

        </section>


    </section>




</main>