<main class="container">

    <!-- section buscar -->
    <section class="ui-search-filter">
        <div class="ui-search-filter__search-container">
            <h4 class="ui-search-filter__search-container--title" for="buscar">BUSCAR</h4>
            <input class="ui-search-filter__search-container--input" type="text" name="buscar" id="buscar"
                placeholder="nombre">
        </div>
        <div class="ui-search-filter__order">
            <h4 class="ui-search-filter__order--title" for="orden">IDIOMA</h4>
            <select class="ui-search-filter__order--select" name="orden" id="orden">
                <option class="ui-search-filter__order--select__max-to-min" value="Mayor-a-menor">Sin filtro</option>
                <option class="ui-search-filter__order--select__max-to-min" value="Mayor-a-menor">Castellano</option>
                <option class="ui-search-filter__order--select__min-to-max" value="Menor-a-Mayor">Subtitulada</option>
            </select>
        </div>
        <div class="ui-search-filter__order">
            <h4 class="ui-search-filter__order--title" for="orden">GENERO</h4>
            <select class="ui-search-filter__order--select" name="orden" id="orden">
                <option class="ui-search-filter__order--select__max-to-min" value="Mayor-a-menor">Sin filtro</option>
                <option class="ui-search-filter__order--select__max-to-min" value="Mayor-a-menor">Acción</option>
                <option class="ui-search-filter__order--select__min-to-max" value="Menor-a-Mayor">Comedia</option>
                <option class="ui-search-filter__order--select__max-to-min" value="Mayor-a-menor">Drama</option>
                <option class="ui-search-filter__order--select__max-to-min" value="Mayor-a-menor">Terror</option>
                <option class="ui-search-filter__order--select__min-to-max" value="Menor-a-Mayor">Ciencia Ficción</option>
                <option class="ui-search-filter__order--select__max-to-min" value="Mayor-a-menor">Animación</option>
                <option class="ui-search-filter__order--select__max-to-min" value="Mayor-a-menor">Suspenso</option>
                <option class="ui-search-filter__order--select__min-to-max" value="Menor-a-Mayor">Romance</option>
            </select>
        </div>
                <div class="ui-search-filter__order">
            <h4 class="ui-search-filter__order--title" for="orden">Tipo de sala</h4>
            <select class="ui-search-filter__order--select" name="orden" id="orden">
                <option class="ui-search-filter__order--select__max-to-min" value="Mayor-a-menor">Sin filtro</option>
                <option class="ui-search-filter__order--select__max-to-min" value="Mayor-a-menor">2D</option>
                <option class="ui-search-filter__order--select__min-to-max" value="Menor-a-Mayor">3D</option>
                <option class="ui-search-filter__order--select__max-to-min" value="Mayor-a-menor">4D</option>
                <option class="ui-search-filter__order--select__min-to-max" value="Menor-a-Mayor">5D</option>
            </select>
        </div>

        
        <div class="ui-search-filter__filter-container">
            <h4 class="ui-search-filter__filter-container--title">FILTRAR</h4>
            <div>
                <input class="ui-search-filter__filter-container--checkbox" type="checkbox" name="destacada" id="destacada"
                    value="DESTACADA">
                <label class="ui-search-filter__filter-container--label" for="destacada">DESTACADA</label>
            </div>
        </div>
    </section>

    <section class="search-results listado-peliculas__grid">
        @if (cargando()) {
        <p>Cargando películas...</p>
        }
        @if (errorMsg()) {
        <p class="error">{{ errorMsg() }}</p>
        }

        @if (!cargando() && peliculas().length === 0) {
        <p>No hay películas disponibles.</p>
        }
        <section class="search-results__container">
            @for (pelicula of peliculas(); track pelicula.id) {
            <app-item-pelicula [pelicula]="pelicula" [esAdmin]="esAdmin()" />
            }

        </section>


    </section>




</main>